.my_post {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.my_post__btn {
    cursor: pointer;
    border-radius: 10px;
    border: none;
    width: 60px;
    height: 25px;
    background: rgb(64 86 114);
    color: #fff;
    position: relative;
    left: 90%;
    top: 14px;
}