.header {
    grid-area: header;
    background: rgb(64 86 114);
    border-radius: 10px 10px 0px 0px;
    box-shadow: 1px 5px 10px 0px;
}

.header img {
    width: 60px;
    margin: 5px;
}

.login_blok{
    float: right;
    margin: 8px;
}

.login{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #fff;
    border-radius: 5px;
    
    padding: 5px;
    height: 30px;
    text-align: center;
}