.title{
text-align: center;
margin-bottom: 50px;
}
.wrapper_dialog{
padding-bottom: 140px;
}

.dialogs{
display: flex;
justify-content: space-around;
}

.dialogs_user{
display: flex;
flex-direction: column;
}

.user_messages{
    overflow-y: scroll; 
    margin-top: 30px;
    width:440px; /* Ширина блока */
    max-height: 580px; /* Высота блока */
    padding: 5px; /* Поля вокруг текста */
}

.dialogs_user_name{
    
}

.dialogs_item{

}
.my_message{
    position: relative;
    top: 60px;
    display: flex;
    width: 670px;
    margin: 0 auto;
    flex-direction: column;
    align-items: flex-end;

}
.my_message_text{
   margin: 0 auto;
}
.my_message__btn{
    margin-top: 15px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    width: 60px;
    height: 25px;
    background: rgb(64 86 114);
    color: #fff;
}