.title{
text-align: center;
margin-bottom: 50px;
}
.dialogs{
display: flex;
justify-content: space-around;
}

.dialogs_user{
display: flex;
flex-direction: column;
}

.dialogs_user_name{
    
}

.dialogs_item{

}
.my_message{
    position: relative;
    top: 100px;
    margin: 0 auto;
    padding: 0 20px;
}
.my_message__btn{
    cursor: pointer;
    border-radius: 10px;
    border: none;
    width: 60px;
    height: 25px;
    background: rgb(64 86 114);
    color: #fff;
    position: relative;
    left: 87%;
    top: 21px;
}